<div class="ibox ">
    <div class="ibox-content border-0" style="min-height: 70vh;">
        <div class="row mb-3 mt-2">
            <div class="col-12 ">
                <app-page-title [pageTitle]="'Tegus Analytics'" [smallTitle]="'BETA'" 
                [iconUrl]="'assets/img/icons/bookmarks-24px.png'">
                </app-page-title>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="fold-table">
                    <table class="table table-inverse table-hover" matSort (matSortChange)="onSort($event)">
                        <thead class="thead-inverse" [formGroup]="rForm">
                            <tr>
                                <th style="width: 50px;">
                                    <div class="p-0 bg-white">
                                        <ng-select [multiple]="false" [searchable]="false" [clearable]="false"
                                            placeholder="" [(ngModel)]="flag" [ngModelOptions]="{standalone: true}"
                                            class="select-flag" (change)="onChangeFlag()">
                                            <ng-option [value]="-1"> <img src="assets/img/stars/star_24px.png" alt=""
                                                    width="16px" height="16px"></ng-option>
                                            <ng-option [value]="0"> <img
                                                    src="assets/img/stars/star_border-24px gray.png" alt="" width="16px"
                                                    height="16px"></ng-option>
                                            <ng-option [value]="1"> <img src="assets/img/stars/star_24px_red.png" alt=""
                                                    width="16px" height="16px"></ng-option>
                                            <ng-option [value]="2"> <img src="assets/img/stars/star_24px_green.png"
                                                    alt="" width="16px" height="16px"></ng-option>
                                        </ng-select>
                                    </div>
                                </th>
                                <th>
                                    <div mat-sort-header="reportDate"> <span>Date</span> </div>
                                </th>
                                <th>
                                    <div class="p-0 bg-white">
                                        <ng-select [items]="companyArr" bindLabel="name" bindValue="id"
                                            [multiple]="false" placeholder="Topic" formControlName="companyId">
                                        </ng-select>
                                    </div>
                                </th>
                                <th>
                                    <div class="p-0 bg-white">
                                        <div class="input-icons">
                                            <i class="fa fa-search icon" style="padding: 8px;"></i>
                                            <input type="text" class="form-control form-control-sm input-field"
                                                placeholder="Search by Name" formControlName="documentName">
                                        </div>
                                        <div class="mr-2 ml-2 hide-mat-icon" mat-sort-header="documentName"
                                            style="background-color: #F6F6F6; padding: 5px;    border-radius: 5px;">
                                            <img src="../../../../assets/img/icons/swap_vert-24px.png" alt="">
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div mat-sort-header="expertCount">Experts</div>
                                </th>
                                <th>
                                    <div mat-sort-header="length">Length</div>
                                </th>
                                <th>
                                    <div class="p-0 bg-white">
                                        <div style="background-color: #F6F6F6; width: 100px;">
                                            <ng-select [items]="analyticsTypeArr" bindLabel="name" bindValue="id"
                                                [multiple]="false" placeholder="Content Type"
                                                formControlName="analyticsTypeId">
                                            </ng-select>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of anaylysticsArr ;let i = index; trackBy:trackById">
                                <tr class="separator" *ngIf="i == 0"></tr>
                                <tr (click)="foldToggle($event ,item)"
                                    [ngClass]="{'is-selected':item.isShowDetails == true}">
                                    <td class="align-middle">
                                        <a [ngSwitch]="item.flag" (click)="updateFlag(item)">
                                            <img *ngSwitchCase="null" src="assets/img/stars/star_24px.png" alt="">
                                            <img *ngSwitchCase="0" src="assets/img/stars/star_border-24px gray.png"
                                                alt="">
                                            <img *ngSwitchCase="1" src="assets/img/stars/star_24px_red.png" alt="">
                                            <img *ngSwitchCase="2" src="assets/img/stars/star_24px_green.png" alt="">
                                        </a>
                                    </td>
                                    <td class="align-middle">{{item.date |date:'MM/dd/yy'}}</td>
                                    <td class="align-middle">
                                        <ng-container *ngFor="let company of item.primaryCompanyArr;let i = index">
                                            <span class="badge badge-primary badge-outlined mr-1"
                                                [ngClass]="{'font-weight-bold' : rForm.value.companyId == company.id }">{{company.name}}</span>
                                        </ng-container>
                                    </td>
                                    <td class="align-middle document-name">
                                        <a href="javascript:void(0)">
                                            {{item.analyticsType?.name}}: {{item.documentName}}
                                        </a>
                                    </td>
                                    <td class="align-middle">{{item.expertCount}} experts</td>
                                    <td class="align-middle  text-center" style="max-width: 100px;">
                                        <b> {{item.length}}min</b>
                                        <br>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <img src="assets/img/application-icons/{{item.analyticsType?.type}}-icon.png"
                                            *ngIf="item.analyticsType?.type">
                                    </td>
                                </tr>
                                <tr class="fold" *ngIf="item.isShowDetails == true"
                                    [ngClass]="{'is-selected':item.isShowDetails == true}">
                                    <td colspan="8">
                                        <ng-container>
                                            <app-analytics-details-fold-div [analyticsDto]="item">
                                            </app-analytics-details-fold-div>
                                        </ng-container>
                                    </td>
                                </tr>
                                <tr class="separator"></tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="rForm?.value.count > rForm?.value.take">
                        <button type="button" class="btn btn-outline-primary" style="width: 200px;"
                            (click)="onLoadMore()">Loading More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-add-analytics-popup #addAnalyticsPopup></app-add-analytics-popup>