.badge.badge-outlined {
    font-size       : 11px;
    color           : #0088EE;
    border-color    : #0088EE;
    border          : 1px solid #0088EE;
    background-color: transparent !important;
  }