.page-title {
    color: #00385C;
  
    span {
        font-size  : 20px;
        font-weight: bold;
    }
  
    small {
        font-size  : 12px;
        font-weight: normal;
    }
  
    img {
        vertical-align: sub;
    }
  }