.btn {
    height       : 36px;
    min-width    : 112px;
    font-size    : 12px;
    font-weight  : bold;
    border-radius: 8px;
    color        : white;

    &-blue-outline {
        color           : #0088EE;
        border          : 1px solid #0088EE;
        background-color: #E8F6FD;
    }
}



.input-group {
    ng-select {
        position     : relative;
        flex         : 1 1 auto;
        width        : 1%;
        min-width    : 0;
        margin-bottom: 0;
    }

    .input-group-append {
        height      : 36px;
        padding-left: 5px;

        button {
            min-width: unset !important;
        }
    }
}